.jumbotron {
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 50px;
}

footer {
    padding: 10px 10px 0 10px;
    background-color: black;
    margin-bottom: 0px;
    margin-top: 10px;
    color: white;
}

.card-hotel {
    flex: 1 200px;
    margin-top: 10px;
}

.btn-reserva {
    width: 100px;
    border-radius: 0px;
}

.footer-address-icon {
    padding-right: 10px;
}

.beach-img {
    width: 100%;
}

.tab-content {
    padding-top: 10px;
}