@yellow: #fffa19;

.margenes (@top: 0px, @bottom: 0px) {
    margin-top: @top;
    margin-bottom: @bottom;
}


.jumbotron {
    background-color: @yellow;
    color: black;
    text-align: center;
    .margenes( 50px, 0px);
 }
  
  footer {
    padding: 10px 10px 0 10px;
    background-color: @yellow;
    .margenes( 10px, 0px);
    color: black; }
  
  .card-hotel {
    flex: 1 200px;
    .margenes( 10px, 0px); }
  
  .btn-reserva {
    width: 100px;
    border-radius: 0px; }
  
  .footer-address-icon {
    padding-right: 10px; }
  
  .beach-img {
    width: 100%; }
  
  .tab-content {
    padding-top: 10px; }