.jumbotron {
  background-color: #fffa19;
  color: black;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 0px; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #fffa19;
  margin-top: 10px;
  margin-bottom: 0px;
  color: black; }

.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100px;
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 10px; }

.beach-img {
  width: 100%; }

.tab-content {
  padding-top: 10px; }
